
* {
    background-color: rgb(41, 41, 41);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    display: block;
    width: 100%;
    font-weight: lighter;
    font-size: 5vh;
    text-align: center;
    margin: 0;
    padding: 0;
}



footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 99%;
    height: 10%;
    background-color: rgb(45, 37, 73);
    margin-top: 5vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}